.side-bar {
    position: fixed;
    overflow-y: auto;
    top: 60px;
    left: 0;
    bottom: 0;
    width: 250px;
    padding: 20px;
    border-right: 1px solid #eee;
    background: #ffffff;

    &-clear {
        padding: 20px 10px;
        color: #000;
        font-size: 13px;

        &:hover {
            background-color: #e6e6e6;
            color: #b32500;
        }
    }

    .category-title {
        font-size: 16px;
        font-weight: 300;
        color: #888;
    }
    .category-product {
        .category-list {
            .cactegory-item {
            }
        }
    }
}
